body{
background-color:#F0EFF5;
}
.prepare_title{
    display: flex;
    height: 300px;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#D8D8D8 65%, #F0EFF5);
}
.prepare_title h1{
    font-size: 45px;
    width:500px;
    text-align:center;
    border-style: solid;
    border-width: 0px 0px 6px;
    border-color: orange;
}
.content{
    width:880px;
}
.content > *{
    margin:0px 15px 0px;
}
h1, h2, h3, h4{
    text-align:left;
}
p{
    padding:5px 0px;
    font-size:16px;
}
.content ul li{
    width:93%;
    padding:5px;
}
.unvi_title{
    background-color:#F0EFF5;
    color:#F0EFF5;
}
.divi{
    font-size:20px;
    font-weight: 300;
    background-color:gray;
    color:white;
    border-radius: 8px;
}
.content div a{
    color:rgb(109, 150, 238);
}
#attention{
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: rgb(219, 219, 7);
    text-decoration-thickness: 3px;
}
.batterybox{
    border-style: solid;
    border-width:1px;
    border-color:black;
    border-radius: 10px;
}
.table{
    display:flex;
    border-style: solid;
    border-color:gray;
    border-width:2px;
    margin:0px 15px 0px;
}
.table h4{
    font-size:16px;
    padding:5px;
    border-style: solid;
    border-color:gray;
    border-width:0px 2px 0px 0px;
    background-color:gray; 
    color:white;
    margin-top:-1px;
    margin-bottom:-1px;
    margin-left:-1px;
}
.table p{
    padding-left:5px;
}
.earthquake_box, .tsunami_box, .typhoon_box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.earthquake_box_content{
    width:47%;
    padding:5px;
}
.typhoon_box_content{
    width:95%;
    border-style: solid;
    border-color:rgb(200, 200, 200);
    margin-top:2px;
    border-width:2px;
    margin-top:10px;
}
.check_list{
    display: flex;
}
.check_list div{
    width:50%;
}
.check_list img{
    width:100%;
}
.tsunami_box_content{
    width:47%;
    border-style: solid;
    border-color:rgb(200, 200, 200);
    margin-top:2px;
    border-width:2px;
    margin-top:10px;
}
.tsunami_box_content h4, .typhoon_box_content h4{
    margin-top:-2px;
    margin-right:-2px;
    margin-left:-2px;
    background-color:rgb(200, 200, 200);
    padding:3px;
    font-size:18px;
}
.tsunami_box_content p, .typhoon_box_content p{
    padding:2px 5px;
}
.tsunami_box_content i, .typhoon_box_content i{
    color:orange;
}
.call{
    border-style: solid;
    border-color:black;
    padding-left:10px;
}
.bosai_img{
    display:flex;
}
.bosai_img img{
    width:50%;
}
.tsunami_img{
    display:flex;
    justify-content: space-between;
}
.tsunami_img div{
    width:47%;
}
.tsunami_img img{
    width:100%;
}
.typhoon_typhoon_img{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.typhoon_typhoon_img img{
    width:50%; 
}
.list ul li{
    padding: 5px;
    border-style: none;
}
.order_table ul li{
        width: 93%;
        border-style: solid;
        border-width: 0px 0px 1px;
        padding: 10px;
        margin: 10px;
        border-color: #D8D8D8;
}
.typhoon_typhoon_img div{
    width:45%;
}
ol, ul{
    margin:10px 0px 10px 0px;
}
.hot{
    display:flex;
    justify-content: space-between;
}
.hot_content{
    width:400px;
}
@media screen and (max-width : 911px) {
    .content{
        width:100%;
    }
    .earthquake_box, .tsunami_box{
        flex-direction: column;
    }
    .earthquake_box_content, .tsunami_box_content{
        width:97%;
        padding:5px;
    }
    .bosai_img img{
        width:100%;
    }
    .bosai_img {
        display: flex;
        flex-direction: column;
    }
    .tsunami_box_content h4{
        margin-top:-7px;
        margin-right:-6px;
        margin-left:-6px;
    }
    .tsunami_img{
        display: flex;
        flex-direction: column;
    }
    .tsunami_img img, .typhoon_typhoon_img img{
        width:100%;
    }
    .typhoon_typhoon_img{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .tsunami_img div{
        width:97%;
    }
    .typhoon_typhoon_img div{
        width:100%;
    }
}