body {
    background-color: #F0EFF5;
}

.prepare_title {
    display: flex;
    height: 300px;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#D8D8D8 65%, #F0EFF5);
}

.prepare_title h1 {
    font-size: 45px;
    width: 500px;
    text-align: center;
    border-style: solid;
    border-width: 0px 0px 6px;
    border-color: orange;
}

#content1, #content2 {
    width: 880px;
    margin: auto;
    background-color: white;
}

h1,
h2,
h3,
h4 {
    text-align: left;
}

p {
    padding: 5px 0px;
    font-size: 16px;
}

.content ul li {
    width: 93%;
    padding: 5px;
}

.unvi_title {
    background-color: #F0EFF5;
    color: #F0EFF5;
}

.select_shelter {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.select_shelter a {
    width: 200px;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_box {
    display: flex;
    justify-content: center;
}

.search_box>* {
    margin: 0px 4px;
}
.search_box{
    padding:10px 0px 20px 0px;
}

.table {
    border: 1px solid black;
    text-align: center;
}

.table_top {
    display: flex;
    border-bottom: 1px solid black;
}

.table_number {
    width: 5%;
    border-right : 1px solid black;
}
.table_add{
    width:57%;
    border-right : 1px solid black;
}
.table_height{
    width:10%;
    border-right : 1px solid black;
}
.table_type{
    width:10%;
    border-right : 1px solid black;
}
.table_people{
    width:10%;
    border-right : 1px solid black;
}
.table_dis{
    width:13%;
    border-right : 1px solid black;
}
.table_map{
    width:5%;
}
.table_mid{
    display: flex;
    border-top:1px black solid;
}
@media screen and (max-width : 896.36px) {
    #content1{
        width:100vw;
    }
    #content2{
        width:100%;
    }
    .table_number{
        min-width: 40.54px;
    }
    .table_add{
        min-width: 453.15px;
    }
    .table_height{
        min-width: 80.24px;
    }
    .table_type{
        min-width: 80.24px;
    }
    .table_people{
        min-width: 80.24px;
    }
    .table_dis{
        min-width: 104.05px;
    }
    .table_map{
        min-width: 39.67px;
    }
    .table{
        width:100%;
        overflow-x:auto;
    }
}