h3, h4, p{
    padding:0px;
}
#issuing_time, #valid_time{
    font-size:15px;
}
#outlook, #forecast{
    white-space: pre-wrap;
}
#summary{
    margin:10px 0px 5px 0px;
}
#warn{
    margin:5px 0px 10px 0px;
}