.disaster_title {
    border: 1px solid brown;
    background: linear-gradient(#D8D8D8 50%, #FFFFFF);
    border-radius: 25px;
}

.disaster_title>* {
    padding: 0px;
    padding: 5px 10px;
}

table {
    border-spacing: 0px;
    margin: auto;
}
#tts{
    background-color: white;
    border-radius: 10px;
}
#tts:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: .5s;
}
#tts img{
    width:35px;
    height:35px;
}
input {
    accent-color: blue;
}

.disaster_content {
    width: 1000px;
    margin: auto;
    background-color: white;
    display: flex;
    padding-top: 80px;
}

.left_top {
    border-color: black;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    font-size: 14px;
    overflow: hidden;
    padding: 8px 4px;
    word-break: normal;
    background-color: rgb(233, 233, 233);
    width: 140px;
    text-align: center;
}

.right_top {
    border-color: black;
    border-style: solid;
    border-width: 1px 1px 0px 0px;
    font-size: 14px;
    overflow: hidden;
    padding: 8px 4px;
    word-break: normal;
    background-color: white;
    width: 660px;
}

.left_bottom {
    border-color: black;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    font-size: 14px;
    overflow: hidden;
    padding: 8px 4px;
    word-break: normal;
    background-color: rgb(233, 233, 233);
    width: 140px;
    text-align: center;
}

.right_bottom {
    border-color: black;
    border-style: solid;
    border-width: 1px 1px 1px 0px;
    font-size: 14px;
    overflow: hidden;
    padding: 8px 4px;
    word-break: normal;
    background-color: white;
    width: 660px;
}

.content_left {
    width: 800px;
}

.content_right {
    width: 200px;
}

.menu {
    display: flex;
    flex-direction: column;
    padding: 1px;
    width: 122px;
    margin: auto;
}

.menu a {
    width: 100px;
    text-align: center;
    padding: 5px 10px;
    border: solid 1px black;
    margin:3px;
    min-width: 60px;
    border-radius: 5px;
}

.menu a:hover {
    transform: scale(1.03);
    background-color: rgb(255, 231, 186);
}

.main_box {
    width: 95%;
    margin: auto;
    border: 1px solid black;
    margin-top: 20px;
    padding: 2.35%;
    border-radius: 25px;
}

#quake_title {
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: black solid 1px;
}

.map {
    text-align: center;
    width: 100%;
}

.quakemap {
    text-align: center;
    width: 50%
}

.weathermap {
    width: 100%
}

#weathermap_img {
    width: 100%
}

.quakemap img {
    border: 4px solid black;
    width: 95%;
}

.map img {
    border: 4px solid black;
    width: 95%;
}

#max_int,
#intensity {
    padding: 0px 5px;
    text-align: left;
}

#int {
    padding: 2px 3px;
    border: 1px black solid;
    border-radius: 15px;
}

.magdep {
    display: flex;
}

.quakeinfo {
    display: flex;
}

.qcontent {
    width: 50%;
    height: 324px;
}

.forecast_btn {
    padding: 10px 25px;
    background-color: rgb(106, 106, 255);
    color: white;
    font-family: 'NanumSquare';
    border-color: rgb(106, 106, 255);
    border-radius: 5px;
    margin: 10px -20px;
}
.typhoon_forecast_btn {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
.tts{
    width:100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom:10px;
}
.now_weather {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.now_weather_num {
    width: 50%;
}

.now_weather_etc {
    display: flex;
    text-align: center;
    border: 1px black solid;
    border-radius: 15px;
    padding: 20px 0px;
    margin-top:5px;
}

.now_weather_etc_cont {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.border {
    border: solid black;
    border-width: 0px 1px 0px 0px;
}

#now_wind_dir{
    width:20%;
    height:20%;
}
.ultra_weather_fore{
    display: flex;
    border-radius: 20px;
    border: 1px solid black;
}
.windpa{
    display: flex;
    align-items: center;
}
#now_wind_dir{
    width:50%;
    height:50%;
}
.category {
    display: flex;
    flex-direction: column;
    border: solid black;
    border-width: 0px 1px 0px 0px;
    width: 90px;
    text-align: center;
    min-width: 90px;
}

.ultra_fore_content {
    overflow-x: none;
    width: 100%;
    display: flex;
}

.ultra_time p {
    text-align: center;
    flex-grow: 1;
    min-width: 100px;
}

.ultra_time {
    flex-grow: 1;
}

.now_jyou {
    border: 1px solid rgb(233,233,233);
    border-radius: 20px;
    background-color: rgb(233,233,233);
    display: flex;
    align-items: center;
}

.now_jyou>* {
    width: 50%;
    text-align: center;
}

.now_jyou p {
    padding: 20px 10px;
    margin-top: 5px;
}

.info_bottom {
    margin-top: 10px;
}

.info_bottom p {
    padding: 0px;
}

/* #weather{
    display:none;
}
#now_weather_Chart{
    display:block;
} */
#ultra_time1,
#ultra_time2,
#ultra_time3,
#ultra_time4,
#ultra_time5,
#ultra_time6 {
    border-bottom: 1px black solid;
    padding-bottom: 9px;
}

#ultra_wind_dir1,
#ultra_wind_dir2,
#ultra_wind_dir3,
#ultra_wind_dir4,
#ultra_wind_dir5,
#ultra_wind_dir6 {
    background-image: url('./wind_dir.png');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center center;
    display: none;
    color: rgba(0, 0, 0, 0);
}

#weather_sokbo_box{
    display: none;
}

@media screen and (max-width : 1020px) {
    .disaster_content {
        width: 750px;
        margin: auto;
        background-color: white;
        padding-top: 80px;
    }

    .content_left {
        width: 700px;
    }

    .qcontent {
        height: 100%;
    }

    .ultra_fore_content {
        overflow-x: auto;
    }

    @media screen and (max-width : 800px) {
        .disaster_content {
            width: 90%;
            margin: auto;
            background-color: white;
            flex-direction: column-reverse;
            padding-top: 60px;
        }

        .content_right {
            width: 100%;
            overflow-x: auto;
            margin-top: 15px;
        }

        .menu a {
            text-align: center;
            padding: 5px 10px;
            border: solid 1px black;
            background-color: white;
            overflow-x: auto;
        }

        .content_left {
            width: 100%;
            margin: auto;
        }

        .menu {
            display: flex;
            background-color: white;
            margin: auto;
            flex-direction: row;
            width: 100vw;
            flex-wrap: nowrap;
        }

        .now_weather {
            width: 100%;
            justify-content: space-between;
            flex-direction: column;
        }

        .now_weather_num {
            width: 100%;
        }

        #now_weather_Chart {
            margin-top: 20px;
        }

        .quakeinfo {
            display: flex;
            flex-direction: column;
        }

        .map,
        .qcontent,
        .quakemap {
            width: 100%;
            height: 100%;
        }

        .content_left {
            margin-top: 15px;
        }

        .now_jyou p {
            padding: 20px 10px;
            margin-top: 0px;
        }

        .ultra_fore_content {
            width: 1000px;
        }
    }
}