@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

body {
    margin: 0px;
    padding: 0px;
    font-family: 'NanumSquare', 'Noto Sans KR', sans-serif;
}
h1, h2, h3, h4, p, a{
    color:black;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}
.news_link:hover{
    text-decoration: underline;
}
#now_time{
    padding-bottom: 4px;
    border-bottom: 2px solid black;
}
.content{
    display: flex;
}
.left{
    width: 25%;
    height: 90vh;
    background-color: rgb(0, 221, 255);
}
.mid{
    width: 50%;
}
.right{
    width: 25%;
    background-color: rgb(0, 221, 255);
}
#title{
    width:100%;
    background-color: red;
    color:white;
    text-align: center;
    font-size:50px;
    border-radius: 15px 15px 0px 0px;
}
#time{
    border-bottom: 1px solid black;
}
#where{
    padding:3px 0px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
#where h2{
    font-size:40px;
}
#magint{
    display: flex;
    justify-content: space-between;
}
#int{
    width:79%;
    height:60px;
    background-color: #692498;
    color:white;
    display: flex;
    align-items: flex-end;
    border-radius: 10px;
    transition: .3s;
}
#int:hover{
    transform: scale(1.015);
    transition: .3s;
}
#magnitude:hover{
    transform: scale(1.06);
    transition: .3s;
}
#maxint_num{
    font-size:40px;
    padding-left: 5px;
    padding-bottom: 7px;
}
#maxint_area{
    font-size:20px;
    padding-bottom: 13px;
}
#magnitude{
    width:20%;
    text-align: center;
    background-color: #692498;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:40px;
    border-radius: 10px;
    transition: .3s;
}
#longwave{
    height:60px;
    background-color: #9b0000;
    margin-top:10px;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    font-size:40px;
    color:white;
    transition: 0.3s;
}
#longwave:hover{
    transform: scale(1.013);
    transition: .3s;
}
#longwave_num{
    padding-bottom: 7px;
    padding-left: 5px;
}
#longwave_area{
    font-size:20px;
    padding-bottom: 13px;
}
#tsunami{
    margin-top:10px;
    height: 60px;
    background-color: #692498;
    color: white;
    font-size:40px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: .3s;
}
#tsunami:hover{
    transform: scale(1.013);
    transition: .3s;
}
.news{
    height: 50%;
    padding: 0px 5px;
}
.news div{
    display: flex;
    flex-direction: column;
}
.news_link{
    font-size: 25px;
    margin-top: 6px;
}
@media screen and (max-width : 1000px){
    .content{
        flex-direction: column;
    }
    .left, .mid, .right{
        width: 100%;
    }
}